.optimization_container{
  width: 450px;

  background: #FFFFFF;
  box-shadow: 2px 2px 16px 0px rgba(18,30,58,0.16);
  border-radius: 16px;

  background-image: url('/agent/bg.png');
  background-repeat: no-repeat;
  background-size: 450px; /* 设置背景图宽度为300像素 */
}

.optimization_container_content{
  /* 移除绝对定位，让子元素能撑开父元素 */
  position: static; 
  min-height:56px;
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 650px;
  padding: 16px;
}
.optimization_container_content_main{
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}
.optimization_container_header{
  height: 45px;
  border-bottom: 1px solid rgba(55,114,254,0.1);
  display: flex;
  display:-webkit-flex;
  justify-content: space-between;
  align-items: center;

}
.optimization_container_header_title{
  font-size: 16px;
  color: #364052;
  line-height: 22px;
}
.optimization_container_header_close>img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.optimization_container_text{
  flex: 1;
   overflow:hidden;
  padding: 3px;
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  gap: 12px;
}
.optimization_container_text_content{
  flex: 1;
  overflow-y: auto;
}
.optimization_container_text_btn{
  display: flex;
  display:-webkit-flex;
  gap: 8px;
  align-items: center;
}
.optimization_container_text_pause,.optimization_container_text_refresh{
  cursor: pointer;
}
.optimization_container_text_pause>img{
  width: 28px;
  height: 28px;
  background: #F2F4F6;
  border-radius: 8px;
  cursor: pointer;
}
.optimization_container_text_refresh>img{
  width: 28px;
  height: 28px;
  background: #F2F4F6;
  border-radius: 8px;
  cursor: pointer;
}
.optimization_container_footer{
 


}
.optimization_container_footer_btn{
  display: flex;
  display:-webkit-flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.optimization_container_footer_btn>img{
  cursor: pointer;
  width:30px;
  height:30px;
}
.replace_container{
  width: 400px;
height: 150px;
background: #FFFFFF;
box-shadow: 2px 2px 12px 0px rgba(102,110,130,0.2);
border-radius: 16px;
border: 1px solid #DDDFE4;
display: flex;
display: -webkit-flex;
flex-direction: column;
  background-image: url('/agent/replace_tip.png');
  background-repeat: no-repeat;
  background-size: 400px; /* 设置背景图宽度为300像素 */
}
.replace_container_content{
  display: flex;
  align-items: center;
  padding: 22px;
  gap: 12px;
}
.replace_container_content_img{
  width: 44px;
  height: 44px;
}
.replace_container_content_right{
  flex:1;
}
.replace_container_content_right_title{
font-weight: 500;
font-size: 16px;
color: #364052;
}
.replace_container_content_right_tip{
font-weight: 400;
font-size: 12px;
color: #666E82;

}
.replace_container_footer{
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 0 24px;
}

.optimization-drawer-content{
  padding: 0!important;
  border-radius: 16px!important;
}
.optimization-drawer-footer{
  padding: 0!important;
}
.optimization-drawer-header{
  padding: 0!important;
}
.optimization-drawer-body{
  padding: 0!important;
}
.replace-modal-content{
  padding: 0!important;
  border-radius: 24px!important;
 

}