/* 图谱知识库主页样式 */

.document_content {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  overflow: hidden;
}

.document_content_left {
  width: 240px;
  background: #f8faf8;
  border-right: 1px solid #e8eaef;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.document_content_left_back {
  display: flex;

  padding: 14px 12px;
  align-items: center;
  cursor: pointer;
}

.document_content_left_back_icon {
  width: 24px;
  height: 24px;
}

.document_content_left_back_title {
  font-weight: 400;
  font-size: 14px;
  color: #666e82;
}

.document_content_left_title {
  padding: 0 12px;
}

.document_content_left_title_img {
  width: 48px;
  height: 48px;
}

.document_content_left_title_name {
  font-weight: 500;
  font-size: 16px;
  color: #364052;
  margin-top: 6px;
  word-break: break-all;
}

.agent_container_left_menu {
  padding: 24px 0px 24px 12px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 6px;
}

.content_main {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
}
