.role_container {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    flex-direction: row;
    background-color: #fff;
   
}
.role_container_border{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.role_left{
  width: 300px;
    height: 100%;
    padding: 8px 16px 16px  24px;
    margin-right: 10px;

 
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    border-right: 1px solid #DDDFE4;
}
.left_category_content_title {
  margin-top: 16px;
  padding-bottom:12px;
  font-weight: 500;
font-size: 18px;
color: #121E3A;

}
.left_category_content_tree {
  margin-top: 12px;
  flex: 1;

}
.left_category_content_empty{
  margin-top: 12px;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.role_right{

  padding: 24px;
  border-radius: 8px;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
    
}
.role_right_top{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
}
.role_right_top_title{
  font-weight: bold;
font-size: 24px;
color: #101A28;
line-height: 36px;
}
.role_right_top_right{
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.role_right_middle {
  flex: 1;
  margin-top: 24px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
}

.role_right_middle_tab{
  flex: 1;
  overflow: auto;
}
.role_right_page{
  padding: 24px 24px 0 24px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
/*新增修改弹框 */
.addRole_container{
  width: 100%;
  height: 100%;
}
.role-drawer-footer{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  gap: 16px;
}
.user_more{
  width: 24px;
  height: 24px;
}
.roleName_container{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.role_avator{
  width: 16px;
}
.role-drawer-body{
  padding: 0!important;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
}
.addRole_container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.role-drawer-header{
  height: 84px;
  font-weight: bold;
font-size: 24px;
color: #101A28;
  border-bottom:none!important;
}
.role-drawer-footer{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  height: 96px;

}
.role_cancel_btn{
  width: 112px;
height: 40px;
background: #FFFFFF;
border-radius: 12px;
border: 1px solid #DDDFE4;
}
.role_save_btn{
  width: 120px;
height: 40px;
background: #3772FE;
border-radius: 12px;
}
.addRole_container_header{
  padding: 24px 32px;
  height:36px;
background: #FFFFFF;
border-radius: 24px 0px 0px 24px;
display: flex;
display: -webkit-flex;
flex-direction: row;
align-items: center;
}
.addRole_container_header_title{
  flex: 1;
  font-weight: bold;
font-size: 24px;
color: #101A28;
}
.addRole_container_header_close{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.addRole_container_header_close>img{
  width: 32px;
  height: 32px;
}
.addRole_container_content{
  padding: 0 32px;
  flex: 1;
  overflow: auto;

}
.addRole_container_content_tree{
  padding: 8px 16px!important;
  background: rgba(242,244,246,0.5)!important;
}