.model-square-page {
  padding: 32px 25px 0;
  height: 100%;
  background-color: #f5f9fc;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
}
.model-square-page.no-second-sidebar {
  padding-left: 10px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* min-width: 800px; */
  display: -webkit-flex;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.page-title {
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap; /* 不换行 */
  flex-shrink: 0; /* 关键：禁止被压缩 */
  margin-right: 20px;
}

.search-right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.right-btn {
  margin-left: 8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.right-btn::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  background: #dddfe4;
  margin-right: 8px;
}

.icons-container {
  display: flex;
  align-items: center;
}
.edit-icon {
  width: 0;
}
.active-title:hover {
  background-color: #e8eaef;
  cursor: pointer;
  padding: 7px 8px;
  border-radius: 8px;
}
.tag-title:hover .edit-icon {
  width: 15px;
  margin-left: 10px;
}
.type-container {
  margin-bottom: 14px;
}

.model-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.tag-title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;
  white-space: nowrap;
}

.title-text {
  max-width: 180px;
  font-weight: 500;
  color: #364052;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 编辑/删除图标 */
.icons-container {
  display: flex;
  /* gap: 8px; */
}

.tag-content {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

/* 横向滚动区域 */
.tag-group-wrapper {
  flex: 1;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  scrollbar-width: none;
  margin-right: 8px; /* 给按钮留间距 */
}

.tag-group-wrapper::-webkit-scrollbar {
  display: none;
}

.edit-icon:hover {
  width: 15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 6px;
  box-sizing: content-box;
}

/* 功能按钮 */
.func-btn {
  /* margin-left: 8px; */
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid #dddfe4 !important;
  border-radius: 8px !important;
  height: 36px !important;
  padding: 10px 6px 10px 10px !important;
  display: flex !important;
  align-items: center !important;
}

/* 批量按钮 */
.batch-container {
  display: flex;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid #dddfe4;
  align-items: center;
  color: #364052;
}

.batch-btns {
  display: flex;
}

.btn-item {
  margin: 4px 4px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  display: flex;
}
.batch_icon {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}
.btn-item:hover {
  background-color: #f2f4f6;
}
.btn-delete:hover {
  background-color: rgba(238, 90, 85, 0.05);
}
.all-checked {
  padding: 6px 0px 6px 12px;
  margin: 4px 4px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.all-checked::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 20px;
  background: #dddfe4;
  margin-left: 14px;
}
.cancel-check {
  padding: 6px 12px 6px 0;
  margin: 4px 4px;
  display: inline-flex;
  cursor: pointer;
}
.cancel-check::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 20px;
  background: #dddfe4;
  margin-right: 14px;
}

.model-list {
  flex: 1;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 16px;
  grid-auto-rows: min-content;
}

.model-list::-webkit-scrollbar {
  display: none;
}

/* 卡片样式*/
.app-card {
  height: 162px;
  position: relative;
  border-radius: 16px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  cursor: pointer;
}
.app-card:global(.ant-card-bordered) {
  border: none;
}

.app-card-checked {
  border: 1px solid #3772fe !important;
}

.card-header {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.avatar-wrapper {
  flex-shrink: 0;
  position: relative;
}
.model-status {
  position: absolute;
  bottom: 0;
  height: 18px;
  line-height: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(50, 187, 123, 1);
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* height: 48px; */
  justify-content: space-between;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  min-width: 0;
}

.card-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-name-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.card-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  color: #364052;
  margin-bottom: 2px;
  /* line-height: 22px; */
  
}

.card-checkbox {
  position: absolute;
  top: 18px;
  right: 15px;
  display: flex;
  align-items: center;
}
.card-status {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.status-ing {
  color: #ff7c37;
  background-color: rgba(255, 124, 55, 0.08);
}
.status-fail {
  color: rgba(238, 90, 85, 1);
  background: rgba(238, 90, 85, 0.08);
}
.fail-icon {
  height: 12px;
  width: 12px;
  margin-right: 2px;
  /* margin-top: 2px; */
}

.updated-time {
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  color: #8d96a7;
  opacity: 0;
  flex-shrink: 0; /* 不要被压缩 */
  white-space: nowrap;
}

.app-card:hover {
  box-shadow: 2px 3px 12px 0px rgba(102, 110, 130, 0.2);
  background: #fff !important;
}

.app-card:hover .updated-time {
  display: block;
  opacity: 1;
}

.put-on-btn {
  background: #f2f4f6 !important;
  color: #666e82 !important;
  border: none !important;
  height: 30 !important;
  border-radius: 8 !important;
  gap: 0 !important;
  display: none !important;
}
.app-card:hover .put-on-btn {
  display: flex !important;
}

.describe {
  font-size: 12px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
  color: #666e82;
  letter-spacing: 0.5px;
}
.card-bottom {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8d96a7;
  width: calc(100% - 2px);
}
.bottom-left {
  display: flex;
  align-items: center;
  flex: 1; /* 让它占据剩余空间 */
  min-width: 0; /* 必须加，否则 flex 子项不会触发省略 */
  overflow: hidden;
}

.tags {
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.ellipsis-icon {
  height: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(220, 220, 220, 0.3); /* 或其他颜色 */
  margin-left: 8px;
  cursor: pointer;
  font-size: 18px !important;
  color: #666e82 !important;
}
.option-container {
  margin-left: auto;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
}
.app-card:hover .option-container {
  opacity: 1;
}
.popover-select {
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 4px;
  color: #666e82;
}
.popover-select:hover {
  background-color: #f2f4f6;
  color: #101a28;
}
.popover-select-delete:hover {
  background-color: rgba(238, 90, 85, 0.05) !important;
  color: #ee5a55 !important;
}

/* 添加分类=========================== */
.add-class-pop {
  padding: 24px;
  width: 320px;
}

.add-class-pop .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-class-pop .header-title {
  font-weight: 500;
  font-size: 18px;
  color: #121e3a;
}

.add-class-pop .close-icon {
  cursor: pointer;
}

.add-class-pop .input {
  margin: 16px 0;
  background: rgba(242, 244, 246, 0.5);
  border: none;
}

.add-class-pop .actions {
  text-align: right;
}

.add-class-pop .actions .primary-btn {
  margin-left: 12px;
}

/* 添加类型下拉菜单样式 */
.dropdown-item {
  display: flex;
  align-items: center;
  color: #666e82;
}
.dropdown-item:hover {
  color: #000;
}

.dropdown-icon {
  width: 16px;
  height: 18px;
  margin-right: 10px;
}
.dropdown-icon-training {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* 管理标签 */
.manage-tag-item {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #dddfe4;
  display: flex;
  align-items: center;
  padding: 7px 8px;
  font-size: 12px;
  color: #364052;
}

.tag-item {
  display: inline-block;
  display: flex;
  align-items: center;
}

.tag-edit-icon {
  margin-left: 8px;
  width: 14px;
  cursor: pointer;
  color: #666e82;
}

.delete-icon {
  margin-left: 8px;
  width: 14px;
  height: 14px;
  background-image: url("/application/delete_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 4px;
}

.delete-icon:hover {
  background-image: url("/application/delete_icon_active.svg");
  background-color: #f2f4f6;
}

/* 覆盖底部灰线颜色 */
.custom-tabs .ant-tabs-nav::before {
  border-bottom: 1px solid #dcdcdc !important; /* 自定义颜色 */
}

.app-list_empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 预训练模型 */
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  flex-shrink: 0;
}

.drawer-title {
  font-weight: bold;
  font-size: 24px;
  color: #132f64;
}

.close-icon {
  cursor: pointer;
}

.drawer-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.drawer-content-algo {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 80px);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.config-list {
  padding-bottom: 10px;
}

.params-add-config {
  background: rgba(242, 244, 246, 0.5);
  border-radius: 8px;
  border: 1px dashed #dddfe4;
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  color: #364052;
  cursor: pointer;
}
.params-add-config:hover {
  background: rgba(242, 244, 246, 0.9);
}
.params-add-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.params-delete-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/model/delete_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
}

.params-delete-icon:hover {
  background-image: url("/model/red_delete_icon.png");
  background-color: rgba(238, 90, 85, 0.1);
}

.config-item {
  margin-top: 8px;
  background: rgba(242, 244, 246, 0.4);
  border-radius: 16px;
  border: 1px solid #e8eaef;
  padding: 20px 20px 0px;
  position: relative;
}
.delete-box {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(221, 223, 228, 0.99);
  border-radius: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  cursor: pointer;
  background-image: url("/model/delete_icon.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.delete-box:hover {
  background-color: rgba(238, 90, 85, 0.1);
  background-image: url("/model/red_delete_icon.png");
}

.config-delete-icon {
  width: 16px;
  height: 16px;
}

/* 自定义计数器 */

.horizontal-number-input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid #dddfe4;
  justify-content: space-between;
}

.custom-input-number {
  border: none !important;
  flex: 1;
}
.custom-input-number input {
  text-align: center !important;
}

.custom-radio-group :global(.ant-radio-label) {
  color: #666e82; /* 设置文字颜色 */
}
.custom-radio-group :global(.ant-radio-wrapper-checked) {
  color: #364052;
  font-weight: 500; /* 可选：加粗 */
}
.custom-select :global(.ant-select-selector) {
  background-color: rgba(245, 249, 252, 1) !important;
  border-color: rgba(245, 249, 252, 1) !important;
  border-radius: 8px !important;
  height: 36px !important;
}
.custom-select :global(.ant-select-selection-overflow) {
  height: 30px;
}
.custom-select :global(.ant-select-selection-item) {
  height: 30px;
}

/* 自定义多选 */
.custom-multiple-select :global(.ant-select-selection-overflow .ant-select-selection-item) {
  padding-inline-start: 2px !important;
  padding-inline-end: 2px !important;
}
.upload-dragger :global(.ant-upload-drag) {
  background-color: rgba(250, 252, 253, 1) !important;
}

/* api调用文档上传 */
.api-upload-container {
  height: 108px;
  background: rgba(245, 249, 252, 1);
  border-radius: 8px;
  border: 1px dashed #dddfe4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}
.api-upload-title {
  font-size: 14px;
  color: #364052;
  margin: 4px 0;
}

.loading-avatar {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #f8f9fa;
}
.add-tag-btn {
  background: #f5f9fc !important;
  border: 1px solid #dddfe4 !important;
  border-radius: 8px !important;
  padding: 10px !important;
}

.dataset-type-radio {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  margin-top: 15px;
}

.dataset-type-radio :global(.ant-radio-wrapper) {
  margin-right: 60px !important;
  margin-bottom: 12px !important;
  color: #666e82 !important;
}
.dataset-type-radio :global(.ant-radio-wrapper-checked) {
  color: #364052 !important;
  font-weight: 500;
}

.upload_model_item {
  font-size: 14px;
  color: #101a28;
  font-weight: 500;
  margin-bottom: 24px;
}
.upload_model_item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.upload-dragger :global(.ant-upload-drag-container) {
  display: flex !important;
  align-items: center;
  flex-direction: column;
}

.upload-dragger p {
  font-size: 14px;
  font-weight: normal;
  color: #8d96a7;
  margin: 0;
  line-height: 22px;
}
.upload-tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 文字左对齐 */
  text-align: left; /* 确保文字左对齐 */
}

.segmented-equal {
  width: 100% !important;
  background-color: rgba(245, 249, 252, 1) !important;
  color: #666e82 !important;
}

.segmented-equal :global(.ant-segmented-item) {
  flex: 1 !important; /* 每个选项占相同比例 */
  text-align: center; /* 文字居中 */
}

.segmented-equal :global(.ant-segmented-item-selected) {
  color: #3772fe !important;
}

.gpu_tip {
  font-size: 12px;
  color: #8d96a7;
  margin: 5px 0;
}

.required-star {
  color: #ff4d4f;
  display: inline-block;
  margin-inline-end: 4px;
  font-size: 16px;
}

/* 上传进度条 */
.progress-bar :global(.ant-progress-text) {
  color: rgba(55, 114, 254, 1) !important;
  font-size: 12px;
}

.template_create_icon {
  height: 12px;
  width: 12px;
}

.custom_inputnumber :global(.ant-input-number-input-wrap) {
  background-color: rgba(245, 249, 252, 1);
  border-radius: 8px 0 0 8px;
}
.custom_inputnumber :global(.ant-input-number) {
  border: none !important;
}
.custom_inputnumber :global(.ant-input-number-wrapper) {
  border: none !important;
}

.custom_inputnumber :global(.ant-input-number-group-addon) {
  border: none !important;
  background-color: rgba(245, 249, 252, 1) !important;
  font-size: 11px !important;
  color: #8d96a7 !important;
}
.pre-training-drawer-tabs :global(.ant-tabs-nav) {
  margin-bottom: 8px !important;
}
.upload_model_tip {
  border: 1px solid rgba(55, 114, 254, 0.3);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  background: rgba(55, 114, 254, 0.06);
  color: #3772fe;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 5px 12px;
}
.upload_model_tip > img{
  width: 14px;
  height: 14px;
  margin-right: 8px;
}


.built-tag-select {
  width: 180px;
  height: 36px !important;
}
.built-tag-select :global(.ant-select-selection-wrap) {
  height: 32px;
}
.built-tag-select :global(.ant-select-selector) {
  border: 1px solid #dbe2ea !important;
  border-radius: 8px 8px 8px 8px !important;
}
.built-tag-select :global(.ant-select-selector) {
  background: rgba(255, 255, 255, 0.6) !important;
}