
.department_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   overflow: hidden;
     gap: 16px;
     padding: 24px;
     background-color: #fff;
     
}
.department_container_border{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
  .department_container_tab{
  flex: 1;
  overflow: auto;
}
.department_container_header{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.department_container_title{
    font-weight: bold;
font-size: 24px;
color: #101A28;
line-height: 36px;
flex: 1;
}
.department_container_top{
  width: 360px;
  
}
.my-modal-content{
  padding: 0px!important;
  border-radius: 24px!important;
}
.department_add_container{
  height: 375px;
}
.department_expand{
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-right: 8px;

}
.more_btn{
  width: 24px;
  height: 24px;

}
.space_class{
  display: flex;
  align-items: center;
}
.operation_container{
  display: flex;
  align-items: center;
  
}