.main_content_message_center {
  /* position: absolute; */
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  box-shadow: -2px 2px 16px 0px rgba(18, 30, 58, 0.16);
  height: 700px;
  left: 0;
  background-image: url("/menu/message_bg.png");
  top: 64px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  padding: 24px;
  /* z-index: 1060; */
  box-sizing: border-box;
}

.main_content_message_action_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-left: 8px;
}

.main_content_message_segment_label {
  width: 68px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  line-height: 30px;
}

.main_content_message_action_btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main_content_message_action_btns > img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.message_center_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.message_center_list::-webkit-scrollbar {
  display: none;
}

.message_center_list_nodata {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message_nodata_icon {
  width: 220px;
  height: 220px;
  margin-bottom: 12px;
  margin-top: 50%;
}

.message_nodata_text {
  font-size: 16px;
  color: #666e82;
}

.message_center_list_item {
  width: 100%;
  box-sizing: border-box;
  /* height: 74px; */
  background: rgba(242, 244, 246, 0);
  border-radius: 8px;
  padding: 15px 8px 0 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  /* border-bottom: ; */
}

.message_center_list_item:hover {
  background: rgba(242, 244, 246, 0.5);
  border-radius: 16px;
}

.message_center_list_item_top {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  width: 100%;
  justify-content: space-between;
}

.message_center_list_item_left {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  width: 307px;
}

.info_top_message_icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.message_item_info_wrap {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* gap: 5px; */
  /* margin-left: 8px; */
}

.message_item_info_top {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 4px;
  color: #364052;
}

.info_top_model_name {
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-decoration-line: underline;
}
.import_name{
  max-width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info_top_model_type {
  border-radius: 4px;
  border: 1px solid #dddfe4;
  padding: 2px 6px;
  font-size: 12px;
  color: #666e82;
  line-height: 16px;
  text-align: center;
  margin-left: 4px;
}

.info_top_model_time {
  font-size: 12px;
  color: #9095a3;
  line-height: 16px;
}

.info_top_model_reason {
  /* width: 100%; */
  font-size: 12px;
  margin-bottom: 6px;
  color: #9095a3;
  line-height: 16px;
  max-width: 388px;
  overflow-wrap: break-word;
  /* 自动换行核心属性 */
  /* overflow: hidden; */
  /* white-space: pre; */
  /* text-overflow: ellipsis; */
}

.message_center_list_item_right {
  background: rgba(55, 114, 254, 0.06);
  border-radius: 6px;
  border: 0.5px solid #dddfe4;
  padding: 4px 20px;
  font-size: 12px;
  color: #3772fe;
  white-space: nowrap;
  /* line-height: 17px; */
  text-align: center;
  cursor: pointer;
}

.message_center_list_item_right_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message_center_list_item_right:hover {
  background: #3772fe;
  color: #fff;
  border: 1px solid #dddfe4;
}