.page-title {
  font-weight: bold;
  font-size: 24px;
  color: #121e3a;padding: 45px 25px 0;
  display: flex;
  align-items: center;
}

.back-icon {
  margin-right: 16px;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.back-icon:hover{
  background-color: #F2F4F6;
}

.create-container {
  margin-top: 48px;
  margin-left: 60px;
  margin-right: 380px;
}

.step-title {
  font-size: 14px;
  color: #666E82;
}

.type-card {
  border-radius: 16px;
  border: 1px solid #dddfe4;
  height: 140px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}
.type-card:hover{
    box-shadow: 2px 3px 12px 0px rgba(102,110,130,0.2);
}

.type-icon {
  width: 32px;
  border-radius: 8px;
}
.type-title {
  font-size: 16px;
  color: #364052;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.question-icon{
  font-size: 10px;
  margin-left: 3px;
  color: #8D96A7 !important;
}

.type-describe {
  font-size: 12px;
  color: #666e82;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 16px;
}
.info-name{
    display: flex;
    /* margin-bottom: 16px; */
}

.app-image{
  width: 48px;
  height: 48px;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F4F6;
  cursor: pointer;
  margin-right: 8px !important;
}

.footer-btn{
    margin-top: 64px;
    text-align: right;
}



