.knowledge_add_container {
  height: 100%;
  padding-left: 26px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.knowledge_add_container_header {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.knowledge_add_container_header_title {
  padding: 32px 32px 0 12px;
  font-weight: bold;
  font-size: 24px;
  color: #101a28;
  line-height: 36px;
}
.knowledge_add_container_header_close_img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 32px 32px 0 32px;
}

/* 实体 */
.model_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.property-content {
  height: calc(100vh - 465px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.property-list {
  flex: 1;
  padding: 0 32px;
}
.empty-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.empty-placeholder > img {
  width: 240px;
  height: 130px;
}

.container_tab {
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prop-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
.container_tabs :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  color: #1e1f1f !important;
  font-weight: 400 !important;
  /* height: 100%; */
}
/* .container_tabs :global(.ant-tabs-nav) {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  padding: 0 8px !important;
  height: 48px !important;
  align-items: center;
}
.container_tabs :global(.ant-tabs-tab) {
  flex-shrink: 0 !important;
  min-width: 80px;
  white-space: nowrap;
  padding: 0 16px !important;
  padding-right: 24px !important;
} */
.container_tabs_slot {
  padding: 0 32px;
  display: flex;
  gap: 5px;
  color: #626675;
}
.container_tabs_form,
.container_tabs_no_form {
  padding: 0 32px;
  /* height: 460px; */
  overflow-y: auto;
}
.attribute_title {
  border-bottom: 1px solid #e8e8e8;
  height: 42px;
  padding: 0 26px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #626675;
}
.attribute_form,
.attribute_no_form {
  padding: 16px 32px 0;
  /* height: 360px; */
  overflow-y: auto;
}
.attribute_no_form,
.container_tabs_no_form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.attribute_no_form > img,
.container_tabs_no_form > img {
  width: 240px;
  height: 130px;
}
.drawer_panal {
  padding: 0px !important;
  border-radius: 24px !important;
  overflow: hidden !important;
}
.drawer_panal :global(.ant-drawer-body) {
  padding: 0 !important;
  overflow: hidden !important;
}

/* 无数据页面 */
.no-data {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #f9fafd; */
}

.no-data-img {
  width: 152px;
  height: 152px;
}

.no-data-text {
  font-size: 16px;
  font-weight: 500;
  color: #626675;
}

.upload_container {
  border: #d9d9eb 1px dashed;
  border-radius: 8px;
  padding: 32px;
  background-color: #f9f9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.upload_container > img {
  width: 56px;
  height: 56px;
}
.upload_text {
  color: #9095a3;
  text-align: center;
}

.upload_list {
  margin-top: 16px;
  padding: 0 16px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9fd;
}
.upload_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.upload_list_delete {
  cursor: pointer;
}
.file-preview,
.avatar_icon_card {
  width: 100px;
  height: 100px;
}
.preview-image,
.avatar_icon {
  width: 100px;
  height: 100px;
}
.remove-btn {
  cursor: pointer;
}
.upload-container {
  height: 100%;
  padding-top: 45px;
}
.upload-tip {
  font-size: 11px;
  color: #9095a3;
}
.upload-text {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 12px;
  color: #9095a3;
}
.image-preview-container {
  width: 116px;
  height: 116px;
  border: 1px dashed #d9d9eb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .image-preview {
  width: 100%;
  height: 100%;
} */
.image-actions {
  display: none;
}
.image-preview-container:hover > .image-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(18, 30, 58, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.line {
  width: 1px;
  height: 10px;
  background-color: #b8b9ce;
  margin: 0 14px 0 4px;
}
