.main_layout {
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  /* padding-top: 8px; */
 
}
.main_layout_padding{
  padding-top: 8px;
}
.main_layout_bg{
   background: url("/layout/layout_bg.png") no-repeat !important;
}

.main_layout_container {
  /* flex: 1;
  overflow: hidden; */
  margin-right: 8px;
  padding: 0 0 4px;
  display: flex;
  height: 100%;
  width: 168px;
  display: -webkit-flex;
  background: transparent !important;
  position: relative;
  transition: ease-in-out 0.3s;
}

.main_layout_container_close {
  padding: 16px;
  display: flex;
  height: 100%;
  width: 72px;
  display: -webkit-flex;
  background: transparent !important;
  position: relative;
}

.layout_side_menu_bottom_open_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 18px;
  right: -16px;
  cursor: pointer;
  z-index: 10;
}

.main_layout_content {
  padding: 0px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 0px 0px 0px;
  display: flex;
  flex: 1;
  flex-direction: row!important;
}
.main_layout_content_find{
  background: none !important;
}

.main_layout_content_children{
  overflow: hidden;
}
.detail_layout_content {
  background: #ffffff !important;
  padding: 0px;
  flex: 1;
  overflow: auto;
}

.custom_layout_content {
  background: #f2f4f6 url("/application/app_manage_back.png") no-repeat !important;
  padding: 45px 25px;
}

.system_manage_side {
  padding: 16px 16px 16px 8px !important;
  background: #f8fafb !important;
}

.no_system_layout_side {
  padding: 16px 16px 16px 8px !important;
  border-right: 1px solid #e8eaef;
  background: #f2f4f6 !important;
}

.main_layout_header {
  background: #f2f4f6 !important;
  height: 64px;
  backdrop-filter: blur(5px);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 0 24px !important;
}

.main_layout_header_left {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.main_layout_logo {
  /* width: 100%; */
  height: 40px;
  margin-top: 12px;
}

.main_layout_header_right {
  width: 160px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.layout_header_right_message_center {
  width: 20px;
  height: 20px;
  margin-right: 24px;
  cursor: pointer;
}

.custom-drawer_style {
  height: 700px !important;
  position: absolute;
  bottom: 56px;
}

.root-custom-style {
  /* position: absolute;
  top: 64px;
  inset: "unset !important";
  height: calc(100vh - 64px) !important; */
}

.root-custom-style > .ant-drawer-mask {
  /* 核心：设置完全透明但保留元素存在 */
  background: transparent !important;
  /* 确保遮罩层在正确层级（高于页面内容，低于抽屉） */
  /* z-index: 1050 !important; */
}

/* 可选：为抽屉添加边框区分内容区域 */
.root-custom-style > .ant-drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.main_content_message_center {
  /* position: absolute; */
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  box-shadow: -2px 2px 16px 0px rgba(18, 30, 58, 0.16);
  height: 700px;
  left: 0;
  background-image: url("/menu/message_bg.png");
  top: 64px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  padding: 24px;
  /* z-index: 1060; */
  box-sizing: border-box;
}

.main_content_message_action_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-left: 8px;
}

.main_content_message_segment_label {
  width: 68px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  line-height: 30px;
}

.main_content_message_action_btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main_content_message_action_btns > img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.message_center_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.message_center_list::-webkit-scrollbar {
  display: none;
}

.message_center_list_nodata {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message_nodata_icon {
  width: 220px;
  height: 220px;
  margin-bottom: 12px;
  margin-top: 50%;
}

.message_nodata_text {
  font-size: 16px;
  color: #666e82;
}

.message_center_list_item {
  width: 100%;
  box-sizing: border-box;
  /* height: 74px; */
  background: rgba(242, 244, 246, 0);
  border-radius: 8px;
  padding: 15px 8px 0 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  /* border-bottom: ; */
}

.message_center_list_item:hover {
  background: rgba(242, 244, 246, 0.5);
  border-radius: 16px;
}

.message_center_list_item_top {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  width: 100%;
  justify-content: space-between;
}

.message_center_list_item_left {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  width: 307px;
}

.info_top_message_icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.message_item_info_wrap {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* gap: 5px; */
  /* margin-left: 8px; */
}

.message_item_info_top {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 4px;
  color: #364052;
}

.info_top_model_name {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-decoration-line: underline;
}

.info_top_model_type {
  border-radius: 4px;
  border: 1px solid #dddfe4;
  padding: 2px 6px;
  font-size: 12px;
  color: #666e82;
  line-height: 16px;
  text-align: center;
  margin-left: 4px;
}

.info_top_model_time {
  font-size: 12px;
  color: #9095a3;
  line-height: 16px;
}

.info_top_model_reason {
  width: 100%;
  font-size: 12px;
  margin-bottom: 6px;
  color: #9095a3;
  line-height: 16px;
  /* max-width: 255px; */
  overflow-wrap: break-word;
  /* 自动换行核心属性 */
  /* overflow: hidden; */
  /* white-space: pre; */
  /* text-overflow: ellipsis; */
}

.message_center_list_item_right {
  background: rgba(55, 114, 254, 0.06);
  border-radius: 6px;
  border: 0.5px solid #dddfe4;
  padding: 4px 20px;
  font-size: 12px;
  color: #3772fe;
  white-space: nowrap;
  /* line-height: 17px; */
  text-align: center;
  cursor: pointer;
}

.message_center_list_item_right_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message_center_list_item_right:hover {
  background: #3772fe;
  color: #fff;
  border: 1px solid #dddfe4;
}

.layout_header_right_menu {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  margin-right: 26px;
}

.layout_header_right_menu_item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.layout_header_right_menu_item:hover {
  background: #e8eaef;
  border-radius: 8px;
}

.layout_header_right_menu_item_message {
  width: 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout_right_message_active {
  /* background: #e8eaef; */
  /* border-radius: 8px; */
  border-bottom: 1px solid #3772fe;
}

.right_menu_item_message_inner {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.right_menu_item_message_inner_active {
  background: #e8eaef;
}

.right_menu_item_message_inner:hover {
  background: #e8eaef;
  border-radius: 8px;
}

.layout_right_active {
  background: #e8eaef;
  border-radius: 8px;
}

.layout_right_active:before {
  content: "";
  position: absolute;
  top: 63px;
  width: 26px;
  height: 2px;
  right: 88px;

  background: #3772fe;
  border-radius: 2px 2px 0px 0px;
  z-index: 111;
}

/* .layout_right_message_active:before {
  content: "";
  position: absolute;
  top: 63px;
  width: 26px;
  height: 2px;
  right: 180px;

  background: #3772fe;
  border-radius: 2px 2px 0px 0px;
  z-index: 111;
} */

.layout_header_right_menu_item_img {
  width: 20px;
  height: 20px;
}

.main_layout_header_menu {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  gap: 8px;
}

.main_layout_header_menu_item {
  padding: 8px 16px;
  cursor: pointer;
  cursor: pointer;
  font-size: 16px;
  color: #666e82;
  line-height: 22px;
}

.main_layout_header_menu_item_active {
  font-size: 16px;
  color: #101a28;
  font-weight: 500;
}

.main_layout_header_menu_item:hover {
  background: #e8eaef;
  border-radius: 8px;
}

/* 菜单 */
.system_layout_menu {
  border-inline-end: none !important;
  background: #f8fafb !important;
}

.no_system_layout_menu {
  border-inline-end: none !important;
  background: #f2f4f6 !important;
}

.layout_side_menu_item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  height: 40px;
  padding: 0px 12px;
  font-size: 14px;
  color: #364052;
  box-sizing: border-box;
  margin-bottom: 8px;
  cursor: pointer;
   /* outline: none; */
   outline-color: transparent;
    /* transition: ease-in-out 0.3s; */
}
.layout_side_menu_item_user{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  height: 40px;
  padding: 0px 12px;
  font-size: 14px;
  color: #364052;
  box-sizing: border-box;
  margin-bottom: 8px;
  cursor: pointer;
   /* outline: none; */
   outline-color: transparent;
    /* transition: ease-in-out 0.3s; */
}
.layout_side_menu_item:hover{
  color: #364052;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ffffff;
  /* outline: none; */
   outline-color: transparent;
  cursor: pointer;
}
.layout_side_menu_item:focus-visible{
  outline: none !important;
  outline-color: #fff !important;
}

.hidden-text {
  visibility: hidden; /* 隐藏视觉，但保留空间 */
  opacity: 0; /* 过渡效果更平滑 */
  height: 0;
  width: 0;
  /* transition: opacity 0.2s ease; 可选：添加过渡动画 */
}

/* 展开时显示 */
.visible {
  visibility: visible; /* 恢复视觉 */
  opacity: 1;
  width: auto;
  height: auto;
  white-space: nowrap;
}

.side_menu_item_selected {
  color: #364052;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ffffff;
  /* outline: none; */
   outline-color: transparent;
  cursor: pointer;
}
.side_menu_item_selected:focus-visible{
  outline: none !important;
  outline-color: #fff !important;
}
.layout_side_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 8px);
  overflow: hidden;
  background: transparent;
  /* padding: 0 16px; */
}

.layout_side_menu_close {
}
.layout_side_menu_top {
 
  padding: 0 16px;
}
.layout_side_menu_middle {
}
.layout_side_menu_bottom {
}

.bottom_wrap{
  padding: 4px 0 4px;
  border-top: 1px solid rgba(102,110,130,0.1);
  border-bottom:1px solid rgba(102,110,130,0.1);

}
.createAppPopover :global(.ant-popover-inner) {
  padding: 0;
}

.createAppPopover :global(.ant-popover-inner-content) {
  padding: 0;
}

.layout_side_createApp {
  width: 136px;
  height: 40px;
  background: #3772fe;
  border-radius: 12px 12px 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: #fff;
  margin: 16px 0 8px;
  cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative;
}
.layout_side_find {
  width: 136px;
  height: 40px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 28px;
  font-size: 14px;
}

.layout_side_menu_router_wrap {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.layout_side_menu_router_wrap_header {
  width: 100%;
  padding-left: 8px;
  font-size: 12px;
  line-height: 24px;
  color: #666e82;
  margin-bottom: 4px;
}

.main_layout_createApp_icon {
  width: 16px;
  height: 16px;
}

.layout_side_menu_img {
  width: 16px;
  height: 16px;
}

/* 消息通知 */
.notification-container :global(.custom-notification.ant-notification-notice-wrapper) {
  background-image: var(--bg-image, none);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.notification-content {
  display: flex;
  padding: 10px 20px 16px;
  min-width: 0;
}

.notification-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  min-width: 0;
}

.notification-header {
  font-size: 16px;
  font-weight: 500;
  color: #121e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}

.notification-title-wrap {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  margin-right: 10px;
}

.notification-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 0;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.notification-status {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.notification-tag {
  font-weight: 400;
  font-size: 12px;
  color: #666e82;
  border-radius: 4px;
  border: 1px solid #dddfe4;
  padding: 0 4px;
}

.notification-close-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.notification-reason {
  font-size: 14px;
  color: #666e82;
}

.notification-time {
  font-size: 12px;
  color: #666e82;
}

.notification-button {
  width: 90px;
  height: 32px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background: #f3f4f9 !important;
  border: none !important;
  margin-top: 16px;
}

.main_layout_content_bg{
  background: #fff !important;
}
.main_layout_content_bgColor{
  background: #F5F9FC !important;
}