.start_node {
  background: linear-gradient(360deg, rgba(34, 179, 94, 0) 0%, rgba(34, 179, 94, 0.08) 100%) no-repeat, #FFFFFF;
  background-size: 100% 55px;
  background-position: top;

}
.start_panel_variable_content {
  margin-top: 10px;
  display: flex;
   flex-direction: column;
  font-size: 12px;
color: #364052;
min-height: 24px;
border-radius: 4px 4px 4px 4px;
  gap: 4px;
  position: relative;
}

.start_panel_variable_item {
  height: 36px;
  background: rgba(255,255,255,0.6);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #DDDFE4;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  color: #666E82;
  padding: 0 8px;
}

.start_panel_variable_displayName_span{
  color: #666E82;
}
.start_panel_variable_name_text{
  font-size: 14px;
color: #3772FE;
}
.start_node_variable_item{
  height: 24px;
  background: #F5F9FC;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  color: #666E82;
  padding: 0 8px;
}

.start_panel_variable_name{
  font-size: 14px;
color: #3772FE;
}
.start_panel_variable_item_fieldType{
  display: flex;
  align-items: center;
  gap: 12px;
}
.start_panel_variable_item_fieldType_img{
  width: 16px;
  height: 16px;
}
.start_panel_variable_item_fieldType_text{
  font-size: 12px;
  color: #666E82;
  font-weight: normal;
height: 20px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #DDDFE4;
display: flex;
align-items: center;
justify-content: center;
padding: 0 4px;
}