.iteration_node {
  min-height: 200px;
  height: 100%;
  min-width: 500px;
  border-radius: 12px;

  border: 1px solid #dddfe4;
  box-shadow: 2px 3px 12px 0px rgba(102, 110, 130, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;

  background: linear-gradient( 360deg, rgba(255,159,24,0) 0%, rgba(255,159,24,0.08) 100%)
      no-repeat,
    #ffffff;
  background-size: 100% 55px;
  background-position: top;
}
.iteration_node_header {
  height: 55px;
  display: flex;
  display: -webkit-flex;
  gap: 8px;
  padding: 0 16px;
  align-items: center;
}
.iteration_node_content {
  flex: 1;
  padding: 0 16px 16px 16px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.iteration_node_content_main {
  flex: 1;
  position: relative;
  background: #f5f9fc;
  border-radius: 12px 12px 12px 12px;
}
.iteration_node_add_node{
  position: absolute;
  left:48px;
  top:16px;
  display: flex;
  align-items: center;

}
.iteration_node_add_node_text{
  width: 110px;
height: 32px;

border-radius: 8px 8px 8px 8px;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
color: #3772FE;
cursor: pointer;
border: 1px solid #3772FE;
gap: 6px;
}
.iteration_node_add_node_line{
  width: 52px;
  height: 1px;
  border-radius: 0px 0px 0px 0px;
  border: 2px solid #3772FE;

}
.iteration_node_add_node_text_img{
  width: 20px;
  height: 20px;
}
.custom_node_actions {
  margin-left: auto;
}
.resize_icon {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 1000;
  border: none;
  padding: 0;
  margin: 0;
}

.panel_main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel_main_content{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.panel_main_content::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

.iteration_content_title{
  padding: 10px 0;
  font-weight: normal;
font-size: 14px;
color: #101A28;
line-height: 20px;
display: flex;
align-items: center;
gap: 2px;
}
.iteration_content_title_array{
  width: 43px;
height: 20px;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
font-weight: normal;
font-size: 12px;
color: #666E82;
border: 1px solid #DDDFE4;
margin-left: 3px;
}
.iteration_content_input{
  margin-bottom: 16px;
}
.iteration_parallel_control{
  margin-top: 16px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
.iteration_parallel_control_title{
  font-weight: normal;
font-size: 14px;
color: #101A28;
display: flex;
align-items: center;
gap: 2px;
}
.iteration_parallel_control_title_icon{
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.iteration_parallel{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 8px 0;
  margin-top: 6px;

}
.iteration_parallel_title{
  font-weight: normal;
  font-size: 14px;
  color: #101A28;
  display: flex;
  align-items: center;
  gap: 2px;
}

.iteration_parallel_slider_conf{
  display: flex;
  display:-webkit-flex;
  gap:8px;
  padding-right: 12px;
  margin-top: 16px;
}
.iteration_parallel_slider_conf_slider{
  flex: 1;

}
.iteration_parallel_slider_conf_input{
  background: #F2F4F6!important;
  border-radius: 8px;
}

.custom_node_header_parallel{
  width: 60px;
height: 20px;
background: rgba(255,159,24,0.04);
border-radius: 4px 4px 4px 4px;
border: 1px solid #FF9F18;
font-weight: normal;
font-size: 12px;
color: #FF9F18;
display: flex;
align-items: center;
justify-content: center;
}