.custom_modal:global(.ant-modal) {
  min-width: 1250px !important;
  padding: 0;
  top: 50% !important;
  transform: translateY(-50%) !important;
  overflow: hidden;
}

.custom_modal :global(.ant-modal-body) {
  height: 80vh;
  padding: 0;
}

.custom_modal:global(.ant-modal .ant-modal-content) {
  padding: 0 !important;
  border-radius: 20px !important;

}

.create_modal {
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
 
}

.left_menu {
  display: flex;
  
  border-radius: 20px 0 0 20px;
  width: 226px;
  background-color: rgba(224, 237, 255, 1);
  flex-direction: column;
}
.left_menu_header{
  padding: 24px;
}
.menu_options {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  /* 隐藏滚动条 Chrome/Safari/Webkit */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}


.menu_item {
  border-radius: 8px;
  cursor: pointer;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  color: #364052;
  transition: background-color 0.3s ease;
}
.menu_item.active {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
.menu_item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.menu_item_icon {
  margin-right: 8px;
}
.dropdown_title {
  font-weight: bold;
  font-size: 24px;
  color: #26396a;
  text-align: center;
}
.custom_divider {
  margin: 6px !important;
}

/* 搜索框样式 */
.custom_input {
  height: 36px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.6) !important;
  border: 1px solid #dbe2ea !important;
}
.search_icon {
  height: 12px;
  width: auto;
  display: block; /* 避免被 flex 拉伸 */
}

.create_app_right_content {
  flex: 1;
  padding: 56px 24px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 16px;
  overflow-y: scroll;  
  /* overflow-x: scroll;        */
  box-sizing: border-box;
}
@media (max-width: 1616px) {
  .create_app_right_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1616px) {
  .create_app_right_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.create_app_right_content::-webkit-scrollbar {
  display: none;
}
.card_container {
  min-width: 300px;
  height: 192px;
  display: flex;
  border: 1px solid #dbe2ea;
  border-radius: 16px 16px 16px 16px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  flex-direction: column;
  /* min-width: 0; */
  justify-content: space-between;
}
.card_container:hover {
  background: linear-gradient(
    164deg,
    /* 从左上角到右下角 */ rgba(167, 185, 255, 0.25) 0%,
    /* 起点 */ rgba(255, 255, 255, 1) 35%,
    /* 中间 */ rgba(255, 255, 255, 1) 65%,
    /* 中间 */ rgba(204, 235, 255, 0.35) 100% /* 终点 */
  );
  box-shadow: 2px 4px 24px 0px rgba(102, 110, 130, 0.2);
  border: 1px solid rgba(50, 103, 232, 0.2);
}
.card_top {
  display: flex;
  gap: 16px;
}
.card_top_left {
  flex: 1;
  display: flex;
  gap: 16px;
  min-width: 0;
}
.card_type {
  padding: 4px 12px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #dbe2ea;
  font-size: 12px;
  color: #666e82;
  align-self: flex-start;
  flex-shrink: 0;
}
.card_pic {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  flex-shrink: 0;
}
.card_title {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  justify-content: space-between;
}
.card_title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.card_title_text {
  font-size: 18px;
  color: #364052;
  font-weight: 500;
}
.account_container {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #8d96a7;
  gap: 2px;
}
.account_container img {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.card_center {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #60687d;
}
.card_bottom {
  display: flex;
  justify-content: space-between;
  color: #8d96a7;
  align-items: center;
}
.template_create_btn {
  width: 100% !important;
}
.template_create_icon {
  height: 12px;
  width: 12px;
}

.card_bottom_count {
  display: flex;
  gap: 8px;
  font-size: 12px;
}
.tag_container {
  font-size: 14px;
  display: flex;
  gap: 4px;
}
.tag_container span {
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: rgba(220, 220, 220, 0.2);
  border-radius: 4px 4px 4px 4px;
}

/* 单个创建卡片 */
.create_card {
  background: #ffffff;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid #3772fe;
  justify-content: center !important;
  align-items: center !important;
}
.create_card:hover {
  background: #fff !important;
  box-shadow: none !important;
  border: 1px solid #3772fe;
}

.create_center {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: #3772fe;
  align-items: center;
}
.create_icon {
  height: 20px;
  width: 20px;
}

.small_create_modal {
  display: flex;
  flex-direction: column;
}
.small_create_modal_title {
  font-weight: 500;
  font-size: 28px;
  color: #101a28;
  font-family: Alibaba PuHuiTi;
  text-align: center;
}
.tips{
    font-size: 14px;
color: #364052;
margin-bottom: 16px;
}
.name_box{
    display: flex;
    gap: 8px;
}
.app_image{
    height: 48px;
    width: 48px;
    border-radius: 12px !important;
}
.footer_btn{
    text-align: right;
    margin-top: 40px;
}

.temp_useInfo_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.temp_tag_list{
  display: flex;
  align-items: center;
  gap: 4px;
}
.temp_tag_list img{
  width: 14px;
  height: 14px;
}
.temp_tag_list_text{
  flex: 1;
}
.temp_tag_list_text_span{
  font-size: 12px;
  color: #8d96a7;
  line-height: 18px;
}