.workflow_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.workflow_page_header {
  height: 64px;
  background: #fcfcfd;
  border-bottom: 1px solid #eaecf0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: relative;
}
.workflow_page_header_left{
  width: 228px;
  display: flex;
  align-items: center;
  flex: 1;
}
.workflow_page_header_left_back {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
height: 32px;
border-radius: 8px 8px 8px 8px;
}
.workflow_page_header_left_back:hover{
  background: #F5F9FC;
}
.workflow_page_header_left_back>img{
  width: 20px;
  height: 20px;
}
.workflow_page_header_title {
  margin-left: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.workflow_page_header_title>img{
  width: 48px;
  height: 48px;
  border-radius: 8px;
}
.workflow_page_header_title_text{
  font-weight: normal;
font-size: 16px;
color: #364052;

}
.workflow_page_header_title_text_top{
  display: flex;
  align-items: center;
  gap: 4px;
}
.workflow_page_header_title_text_desc{
  margin-top: 3px;
 line-height: 20px;
  height: 20px;
  padding: 0 8px;
  background: rgba(55,114,254,0.1);
  border-radius: 4px 4px 4px 4px;
  font-weight: normal;
font-size: 12px;
color: #3267E8;
 display: inline-block;
}

.workflow_page_header_right{

  display: flex;
  display: -webkit-flex;
  align-items: center;
  gap: 12px;
}
.workflow_page_header_right_line{
  width: 1px;
height: 28px;
background: #DDDFE4;
border-radius: 0px 0px 0px 0px;
}
.workflow_page_header_right_time{
  font-weight: normal;
font-size: 12px;
color: #666E82;
margin-left: 24px;
}
.workflow_page_header_right_center{
  width: 252px;
  height: 40px;
  background: rgba(219,226,234,0.6);
  border-radius: 8px 8px 8px 8px;
  border: 0.5px solid #DDDFE4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding:  0 4px;
  gap: 2px;
}
.tab_item{
width: 120px;
height: 32px;
border-radius: 6px 6px 6px 6px;
display: flex;
align-items: center;
justify-content: center;
gap: 6px;
font-weight: normal;
font-size: 14px;
color: #666E82;
cursor: pointer;
}
.tab_item>img{
width: 16px;
height: 16px;
}
.tab_item_active{
background: #FFFFFF;
border-radius: 6px 6px 6px 6px;
border: 1px solid #DDDFE4;
color: #364052;
}
.workflow_page_header_right_action{
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 12px;
}
.workflow_page_header_right_action_btn{
  width: 124px;
height: 36px;
border-radius: 8px!important;

}
.workflow_page_header_right_action_test{
  width: 104px;
height: 36px;
background: rgba(55,114,254,0.12)!important;
border-radius: 8px 8px 8px 8px!important  ;
border:none!important;
color: #3772FE!important;
}
.workflow_page_header_right_action_test_disabled{
  width: 104px;
  height: 36px; 
}
.action_img{
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.workflow_page_content {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.workflow_page_left {
  width: 240px;
  border-right: 1px solid #eaecf0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 12px;
}

.workflow_page_right {
  flex: 1;
}

.toolbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  padding: 0 16px;
  height: 40px;
  background: #ffffff;
  box-shadow: 2px 3px 12px 0px rgba(102, 110, 130, 0.2);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #dddfe4;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
}
.toolbar_item_img > img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.toolbar_item_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.toolbar_item_img:hover{
  background: #E8EAEF;
border-radius: 8px 8px 8px 8px;
}
.toolbar_item {
  display: flex;
  align-items: center;
  font-weight: normal;
font-size: 14px;
color: #364052;
}
.workflow_editor {
  background: #f5f9fc;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
   overflow: hidden;
}
.workflow_editor_content{
  flex: 1;
  overflow: hidden;
}
/* 拖拽面板 */
.drag_panel{

 width: 240px;
 height: 100%;
background: #FFFFFF;
display: flex;
flex-direction: column;
padding: 12px 16px;
overflow: hidden;
}
.workflow_panel_expand{
  width: 32px;
height: 32px;
background: #FFFFFF;
box-shadow: 3px 4px 16px 0px rgba(102,110,130,0.2);
border-radius: 8px;

cursor: pointer;
display: flex;
display: -webkit-flex;
align-items: center;
justify-content: center;
position: absolute;
top:16px;
left:16px;
z-index:11111;
}
.workflow_panel_expand>img{
  width: 16px;
  height: 16px;
}
.drag_panel_header{
  width: 100%;
  display: flex;
  align-items: center;
}
.drag_panel_header_left{
  font-weight: normal;
font-size: 16px;
color: #101A28;
}
.drag_panel_header_right{
  margin-left: auto;
margin-top: 2px;
width:24px;
height: 24px;
cursor: pointer;
}
.drag_panel_header_right:hover{
  background: #E8EAEF;
border-radius: 8px 8px 8px 8px;
}
.drag_panel_search{
  margin-top: 16px;
  margin-bottom: 12px;
}
.drag_panel_tab{
    display: flex;
    align-items: center;
    gap: 6px;
}
.drag_panel_tab_item{
  padding: 0 4px;
height: 20px;
 display: flex;
align-items: center;
justify-content: center;

border-radius: 4px 4px 4px 4px;
border: 1px solid #DDDFE4;
font-weight: normal;
font-size: 12px;
color: #666E82;
cursor: pointer;
}
.drag_panel_tab_item_active{
  border: 1px solid #3772FE;
  color: #3772FE;
}
.drag_panel_content{
  margin-top: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.drag_panel_content_item{
  width: 208px;
height: 48px;
background: #FFFFFF;
border-radius: 8px 8px 8px 8px;
border: 1px solid #DDDFE4;
display: flex;
align-items: center;
padding: 0 12px;
gap: 8px;
font-weight: normal;
font-size: 16px;
color: #364052;
cursor: pointer;
}
.drag_panel_content_item_icon{
width: 24px;
height: 24px;
}
.drag_panel_content_item_icon>img{
  width: 100%;
  height: 100%;
}
.drag_panel_content_item:hover{
 box-shadow: 2px 3px 12px 0px rgba(102,110,130,0.2);
border-radius: 8px 8px 8px 8px;
border: 1px solid #DDDFE4;
}

.publish_btn_discover{
  flex: 1;
  height: 40px!important;
border-radius: 8px!important;
border: 1px solid #3772FE!important;
font-weight: normal!important ;
font-size: 16px!important;
color: #3772FE!important;
}

.workflow_page_header_right_api_btn{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  color: #364052;
  width: 127px;
height: 36px;
justify-content: center;

border-radius: 8px 8px 8px 8px;
}
.workflow_page_header_right_api_btn>img{
  width: 16px;
  height: 16px;
}
.workflow_page_header_right_api_btn:hover{
  background: rgba(232,234,239,0.5);
}

