
.contentInput{
  width: 100%;
background: #F5F9FC;
border-radius: 8px;
display: flex;
display: -webkit-flex;
flex-direction: column;
min-height: 120px;
position: relative;
}
.contentInput_header{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}
.contentInput_header_title{
  font-weight: 500;
font-size: 13px;
color: #364052;
}
.contentInput_header_info{
  width: 16px;
  height: 16px;
}
.contentInput_header_right{
  display: flex;
  margin-left: auto;
  display: -webkit-flex;
  gap: 4px;
  align-items: center;

}
.contentInput_header_right_wordCount{
  font-size: 12px;
color: #666E82;
}
.contentInput_header_right_copy{
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentInput_header_right_copy>img{
  width: 14px;
  height: 14px; 
}

.contentInput_content{
  flex: 1;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

}
.contentInput_header_right_line{
  width: 1px;
height: 15px;
border: 1px solid #DDDFE4;
}