.user_container {
  display: flex;
  display: -webkit-flex;
  height: 100%;
  flex-direction: row;
  background-color: #fff;
 
}
.user_container_border{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.user_left{
width: 300px;
  height: 100%;
  padding: 16px;
  margin-right: 10px;
  border-right: 1px solid #DDDFE4;

  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.user_right{

padding: 24px;
border-radius: 8px;
flex: 1;
display: flex;
display: -webkit-flex;
flex-direction: column;
overflow: hidden;
  
}
.user_right_top{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  
}
.user_right_top_left{
  width: 200px;
  font-weight: bold;
font-size: 24px;
color: #101A28;
line-height: 36px;
}
.user_right_top_right{
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;

}
.left_category_content_title {

  padding-bottom: 21px;
  font-weight: 500;
font-size: 18px;
color: #121E3A;
}
.left_category_content_empty{
  margin-top: 12px;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_category_content_tree {

  flex: 1;
}
.user_right_middle {
  flex: 1;
  margin-top: 24px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
}
.user_right_middle_tab{
  flex : 1;
  overflow: auto;
}
.user_right_middle_page{
  padding: 24px 24px 0 24px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

/* 删除 */
.delete_container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 325px;
}
.delete_container_content{
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.delete_container_content_img{
  width: 120px;
  height: 120px;
}
.delete_container_content_title{
  font-weight: 400;
  font-size: 24px;
  color: #364052;
  line-height: 32px;
}
.delete_container_content_tip{
  font-weight: 400;
  font-size: 14px;
  color: #666E82;
  line-height: 20px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
}
.delete_container_content_tip_title{
  width: 70px;
  text-align:right;
}
.delete_container_footer{
  margin-bottom: 32px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  gap: 32px;
  
}
/* 状态*/
.user_tab_status{
  width: 50px;
height: 20px;
background: rgba(50,187,123,0.1);
border-radius: 4px;
display: flex;
gap: 6px;
display: -webkit-flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 12px;
color: #32BB7B;
}
.user_more{
  width: 24px;
  height: 24px;
}
.filter_dropdown{
  padding: 12px;
  background-color: #fff;
}
.filter_dropdown_btn{
  margin-top: 12px;
  border-top: 1px solid #f0f0f0;
  padding-top: 8px ;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.newPwdTip{
  font-size: 12px;
  font-weight: 400;
  color: #999; 
  padding-top: 2px;
}
.roleName_container{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.role_avator{
  width: 16px;
}
.role_select{
  border: none!important;
}
.role_select   .ant-select-selector{
  border: none!important;
}
