.model_select_content{
width: 100%;
}


.model_select_content_select{
  width: 100%;

border-radius: 8px!important;

}
.model_select_content_parameter{
  font-size: 14px;
color: #364052;
line-height: 20px;
}
.model_select_parameter_content{
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.model_label_render{
  flex: 1;
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height:30px;
  padding: 6px 0;
}
.model_select_popup_content{
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px 0;

}
.model_select_item{
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items: center;
  height:36px;
  line-height: 36px;
  gap: 5px;
  cursor: pointer;
  padding: 6px;
}
.model_label_render_title{
  max-width: 136px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: normal;
font-size: 14px;
color: #364052!important;
}
.model_select_item:hover{
  background: #F5F9FC;
  border-radius: 8px;
}
.model_select_item_selected{
  background: #F5F9FC;
  border-radius: 8px;
}

.model_label_render_img{
   width: 20px;
  height: 20px;
  border-radius: 4px;
}
.model_label_render_type,.model_label_render_tag{
  line-height: 16px;
  height: 16px;
  padding: 0 4px;
  border-radius: 4px;
border: 1px solid #E8EAEF;
font-weight: 400;
font-size: 11px;
 color: #8D96A7;
max-width: 64px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
