
.loop_start_node{
  width: 40px;
  height: 40px;
  background: linear-gradient(360deg, rgba(34,179,94,0) 0%, rgba(34,179,94,0.08) 100%) no-repeat, #FFFFFF;
  border-radius: 12px;
  border: 1px solid #DDDFE4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loop_start_node_icon{
  width: 24px;
  height: 24px;
}