/* 分类选择相关样式 */
.category_section {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
height: 36px;
background: rgba(255,255,255,0.6);
border-radius: 8px 8px 8px 8px;
border: 1px solid #DBE2EA;
}

.category_input {
  flex: 1;
  height: 36px;
  border-radius: 8px 8px 8px 8px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
  min-width: 0;
  overflow: hidden;
}

.category_input:hover {
  border-color: #3772FE;
}

.category_placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #364052;
}

.selected_categories {
  color: #101A28;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.selected_categories_span {
  font-weight: normal;
  font-size: 14px;
  color: #364052;
}

/* 分类弹窗样式 */
.category_popover_overlay {
  padding: 0;
  border-radius: 8px!important;
}

.category_popover {
  width: 320px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.category_search {
  padding: 12px 12px 0px 12px;

  display: flex;
  display: -webkit-flex;
  gap: 8px;
}

.category_search_input {
  border: none!important;
  box-shadow: none!important;
  background: #F5F9FC!important;
  border-radius: 8px!important;
  height: 32px!important;
}

.category_search_input:hover {
  border:none!important;
}

.category_search_btn>img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.category_list {
  max-height: 340px;
  overflow-y: auto;
  padding: 4px;
  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.category_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.category_item {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
  gap:6px;
  transition: background-color 0.2s;
  font-weight: normal;
  font-size: 12px;
  color: #666E82;

}

.category_item_add {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  gap: 3px;
  font-weight: normal;
  font-size: 12px;
  color: #666E82;
  min-height: 28px;
}

.category_item_add:hover {
  background-color:  #f5f9fc ;
  border-radius: 4px;
}

.category_item:hover {
  background-color:  #f5f9fc ;
  border-radius: 4px;
}

.category_checkbox {
  margin-right: 8px;
}

.category_checkbox .ant-checkbox-inner {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
}

.category_checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3772FE;
  border-color: #3772FE;
}

.category_name {
  font-weight: normal;
  font-size: 12px;
  color: #666E82;
  line-height: 16px;
  flex: 1;
}

.category_name_selected {
  color: #364052;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  flex: 1;
}
