.node-drawer-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 !important;
}

.node-drawer-header {
  display: none !important;
}

.node-drawer-content {
  background: #ffffff;
  box-shadow: -1px 2px 8px 0px rgba(54, 64, 82, 0.1);
  border-radius: 20px;
  border: 1px solid #dddddd;
  margin: 6px 0;
  height: calc(100% - 12px) !important;
  background-repeat: no-repeat;
}

.panel_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

.panel_header {
  width: 100%;
  height: 56px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel_header_title {
  font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 30;
  font-weight: normal;
  font-size: 16px;
  color: #101a28;
  display: flex;
  align-items: center;
  gap: 8px;
}

.panel_content {
  height: calc(100% - 56px);
  padding: 0px 24px 24px 24px;
  display: flex;
}
.panel_content,
.panel_content :global(.ant-checkbox-label) {
  font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 30;
  font-weight: normal;
  font-size: 14px;
  color: #666e82;
}

.panel_transfer:global(.ant-transfer) {
  height: 100%;
}
.panel_transfer :global(.ant-transfer-list) {
  flex: initial !important;
}
.panel_transfer :global(.ant-transfer-list:first-child) {
  width: 200px !important;
  height: 100%;
}
.panel_transfer :global(.ant-transfer-list:last-child) {
  width: 360px !important;
  height: 100%;
}

.transfer_left {
  width: 210px;
}
.transfer_right {
  width: 360px;
}
.transfer_left,
.transfer_right {
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #dbe2ea;
  display: flex;
  flex-direction: column;
}
.transfer_middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.transfer_button:global(.ant-btn) {
  width: 24px;
  height: 40px;
  border-radius: 4px;
}
.active_btn:global(.ant-btn),
.active_btn:global(.ant-btn:hover) {
  background: #3772fe !important;
  border: 1px solid #3772fe !important;
  color: #ffffff !important;
}

.transfer_top {
  width: 100%;
  height: 40px;
  background: #fafcfd;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #dbe2ea;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transfer_top_right {
  display: flex;
  gap: 8px;
  align-items: center;
}
.line {
  width: 1px;
  height: 12px;
  background: #dbe2ea;
}
.config_btn {
  display: flex;
  align-items: center;
  gap: 4px;
}
.transfer_bottom {
  flex: 1;
  padding: 4px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}
.transfer_bottom::-webkit-scrollbar {
  width: 6px;
}
.transfer_bottom::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}
.transfer_bottom :global(.ant-checkbox-group) {
  display: flex;
  flex-direction: column;
}
.transfer_bottom :global(.ant-checkbox-group .ant-checkbox-wrapper) {
  width: 100%;
  padding: 8px !important;
}
.transfer_bottom :global(.ant-checkbox-label) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transfer_bottom_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.transfer_empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transfer_empty img {
  width: 80px;
  height: 80px;
}
.holder-icon:hover {
  cursor: pointer;
  /* background-color: #666e82; */
}
.custom-tip {
  margin-left: 2px;
}
.custom-tip-content {
  padding: 12px !important;
}
.item_config {
  position: relative;
  width: 100%;
  /* height: 148px; */
  background: #fafcfd;
  border-radius: 0px 0px 0px 0px;
  padding: 12px 8px 12px 32px;
  display: flex;
}
.item_config :global(.ant-form-item) {
  margin-bottom: 0 !important;
}
.item_config :global(.ant-form-item .ant-form-item-row) {
  margin: 8px 0;
}
.item_config :global(.ant-form-item .ant-form-item-label) {
  padding: 0 0 2px;
}
.item_config :global(.ant-slider .ant-slider-track),
.item_config :global(.ant-slider .ant-slider-track:hover) {
  background: #3267e8 !important;
}
.item_config :global(.ant-slider .ant-slider-handle::after),
.item_config :global(.ant-slider .ant-slider-handle:focus::after),
.item_config
  :global(.ant-slider.ant-slider-disabled .ant-slider-handle::after) {
  width: 10px;
  height: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 8px 0px rgba(55, 114, 254, 0.3);
  border-radius: 4px;
  border: 1px solid #3772fe;
  inset-block-start: -5px;
}
.item_config_close {
  display: none;
}
.font_class {
  font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 30;
  font-weight: normal;
  font-size: 14px;
  color: #666e82;
}
.item_config :global(.ant-form-item .ant-form-item-label > label) {
  font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 30;
  font-weight: normal;
  font-size: 14px;
  color: #666e82;
}
.item_config_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content_padding {
  padding-left: 32px;
}
.config_steps {
  position: absolute;
  left: 32px;
  top: 0;
  bottom: 0;
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.steps_line {
  width: 1px;
  background: #dbe2ea;
  flex: 1;
}
.config_steps :global(.ant-btn) {
  width: 24px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #dddfe4;
  margin: 0;
  padding: 0;

  font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 30;
  font-weight: normal;
  font-size: 12px;
  color: #3772fe;
  z-index: 1;
}
.panel_content :global(.ant-checkbox + span) {
  padding-inline-end: 0px !important;
}
.input_number_com {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 100px;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
}
.input_number:global(.ant-input-number-outlined) {
  border-width: 0 !important;
  border-style: none !important;
  border-color: none !important;
  border-radius: 0 6px 6px 0;
}
.input_number_left:global(.ant-input-number-outlined) {
  border-radius: 6px 0 0 6px;
}
.input_number_right:global(.ant-input-number-outlined) {
  border-radius: 0 6px 6px 0;
}
